:80 {
    redir /auth /auth/ 308
    redir /platform /platform/ 308
    redir /xmas /xmas/ 308
    redir /workouts /workouts/ 308

    handle /auth/* {
        reverse_proxy auth:3000
    }

    handle /platform/* {
        reverse_proxy platform:3000
    }

    handle /xmas/* {
        reverse_proxy xmas:3000
    }

    handle /workouts/* {
        reverse_proxy workouts:3000
    }

    handle {
        reverse_proxy landing:3000
    }
}
